.thunar .view {
	background-color:#181818;
	color: #FFFFF0;
}
.thunar .sidebar .view{
	background-color:#353535;
	color: #FFFFF0;
}
.thunar .horizontal {
	background-color: #353535;
	color: #FFFFF0;
}
